///////////////////////////////////////////////////////////
//  resources/css/pre/_colors.scss
//

    $primary-fg:            #777;
    $primary-bg:            #FFF;

    $secondary-fg:          #ADDB30;
    $secondary-bg:          #898586;
